<!DOCTYPE html>
<html>
  <head>
    <title>MIMI CHAT</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='react/css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">  
  </head>
  <body>
    <div id="root"></div>
    <script src="{{ url_for('static', filename='react/js/main.js') }}"></script>
  </body>
</html>